name: CI

on:
  push:
    branches:
      - rocm
    tags:
      - v*
  pull_request:
    branches:
      - rocm

jobs:
  build-python-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2025]
        arch: [auto64]
        rocm: [all, gfx1201]

    steps:
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Longpaths
        run: git config --global core.longpaths true

      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        with:
          package-dir: python
          output-dir: python/wheelhouse
        env:
          CIBW_ENVIRONMENT_WINDOWS: >
            CTRANSLATE2_ROOT='${{ github.workspace }}\install'
            ROCM_ARCH='${{ matrix.rocm }}'
          CIBW_BEFORE_ALL_WINDOWS: powershell.exe python/tools/prepare_build_environment_windows.ps1
          CIBW_BEFORE_BUILD: pip install -r python/install_requirements.txt
          CIBW_ARCHS: ${{ matrix.arch }}

      - name: Upload Python wheels
        uses: actions/upload-artifact@v6
        with:
          name: python-wheels-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.rocm }}
          path: python/wheelhouse
          compression-level: 9

      - name: Upload tests
        uses: actions/upload-artifact@v6
        with:
          name: tests-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.rocm }}
          path: tests.zip
          compression-level: 0


  # We could test the Python wheels using cibuildwheel but we prefer to run the tests outside
  # the build environment to ensure wheels correctly embed all dependencies.
  test-python-wheels:
    needs: [build-python-wheels]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-2025
            artifact_pattern: python-wheels-Windows-auto64-all
            wheel_pattern: "*cp312*win*.whl"

    steps:
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - uses: actions/checkout@v6

      - name: Prepare test environment
        shell: bash
        run: |
          ./python/tools/prepare_test_environment.sh

      - name: Download Python wheels
        uses: actions/download-artifact@v7
        with:
          pattern: ${{ matrix.artifact_pattern }}
          merge-multiple: true
          path: .

      - name: Install wheel
        shell: bash
        run: |
          ls -l
          find .
          pip install ${{ matrix.wheel_pattern }}

      - name: Test Python wheel
        run: |
          pytest -v python/tests/ --ignore=python/tests/test_opennmt_tf.py


  check-python-style:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install black==25.* flake8==7.3.* isort==7.*

      - name: Check code format with Black
        working-directory: python
        run: |
          black --check .

      - name: Check imports order with isort
        working-directory: python
        run: |
          isort --check-only .

      - name: Check code style with Flake8
        working-directory: python
        if: ${{ always() }}
        run: |
          flake8 .


  release:
    permissions:
      contents: write
    needs:
      - build-python-wheels
      - test-python-wheels
      - check-python-style
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Download Python wheels
        uses: actions/download-artifact@v7
        with:
          pattern: "*-Windows-auto64-all"
          merge-multiple: true
          path: ./artifacts

      - name: Release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          files: "./artifacts/*"
          generate_release_notes: true
